.Big-Form {
  width: 100%;
  height: 30vh;
  background: url("../img/8190161\ 2.png");
  background-size: 100%;
  padding-top: 60px;
}

.Div-form {

  padding-left: 10%;
  width: 60%;
  display: flex;
  margin: auto;
  align-items: center;
}

.Inp-form {
  margin-left: 2%;
  width: 444px;
}

.Inp-form button {
  width: 30%;
  height: 40px;
  border-radius: 20px;
  margin: 4px;
  margin-left: 26%;
  background: #334155;
  font-size: 18px;
  color: white;
  align-items: center;
  padding-top: 4px;
  text-transform: uppercase;
}

.Inp-form input {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  margin: 4px;
  padding-left: 10px;
  font-size: 15px;
  color: gray;
  border: 1px solid black;
  outline: none;
}

.Div-form img {
  width: 300px;
}

#Modal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 81vh;
  background: #8081bdcc;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  display: none;
}
#Modal h1 {
  color: white;
}
#Modal p {
  color: white;
}
.X {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
}
.Inp-form button:hover,
.X:hover {
  background: white;
  color: #8081bdcc;
  border: 1px solid #8081bdcc;
}
.Error {
  height: 30px;
  padding: 10px;
  font-size: 30px;
  color: white;
}
.xs {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  margin: auto;
  text-align: center;
  border: 1px solid white;
}
