.bodyadmpn {
  width: 100%;
  /* margin:0; */
}

.nodir5 {
  padding-top: 60px;
}

.bodyadmp_h2 {
  margin-left: 5.5%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
}

.bodyadmp_h2 b {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #334155;
}

.btnadmp_box1 {
  width: 90%;
  padding-top: 5%;
  margin: auto;
}

.btnchil_table {
  width: 100%;
  border-radius: 30px 30px 0px 0;
  -webkit-border-radius: 30px 30px 0px 0;
  -moz-border-radius: 30px 30px 0px 0;
  -ms-border-radius: 30px 30px 0px 0;
  -o-border-radius: 30px 30px 0px 0;
}

.btnadmp_tr,
.btnadmp_tr1 {
  text-align: center;

}

.btnadmp_th1 {
  border-radius: 30px 0 0 0;
  -webkit-border-radius: 30px 0 0 0;
  -moz-border-radius: 30px 0 0 0;
  -ms-border-radius: 30px 0 0 0;
  -o-border-radius: 30px 0 0 0;
}

.btnadmp_th2 {
  border-radius: 0px 30px 0 0;
  -webkit-border-radius: 0px 30px 0 0;
  -moz-border-radius: 0px 30px 0 0;
  -ms-border-radius: 0px 30px 0 0;
  -o-border-radius: 0px 30px 0 0;
}

.btnadmp_th,
.btnadmp_th1,
.btnadmp_th2 {
  height: 60px;
  background: rgba(51, 65, 85, 0.5);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
  width: 500px;

}

.btnadmp_td1,
.btnadmp_td2 {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
  margin: 0;

}

.btnadmp_td1 {
  background: #D9D9D9;

}

.butadmp1,
.butadmp2 {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}

.mad {
  width: 256px;
  top: 274px;
  background: #FFFFFF;
  border-radius: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #334155;
  text-align: center;
}

.nodiruca {
  width: 256px;
  height: 43px;
  background: #334155;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
}

.cake1 {
  display: flex;
  justify-content: space-around;
}


.bodyadmpn {
  width: 100%;
  margin: 0;

}

.bodyadmp_h2 {
  margin-left: 5.5%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
}

.bodyadmp_h2 b {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #334155;
}

.btnadmp_box1 {
  width: 90%;
  padding-top: 5%;
  margin: auto;
}

.btnchil_table {
  width: 100%;
  margin-top: -50px;
  background-color: white;
  border-radius: 30px 30px 0px 0;
  -webkit-border-radius: 30px 30px 0px 0;
  -moz-border-radius: 30px 30px 0px 0;
  -ms-border-radius: 30px 30px 0px 0;
  -o-border-radius: 30px 30px 0px 0;
}

.btnadmp_tr,
.btnadmp_tr1 {
  text-align: center;

}

.btnadmp_th1 {
  border-radius: 30px 0 0 0;
  -webkit-border-radius: 30px 0 0 0;
  -moz-border-radius: 30px 0 0 0;
  -ms-border-radius: 30px 0 0 0;
  -o-border-radius: 30px 0 0 0;
}

.btnadmp_th2 {
  border-radius: 0px 30px 0 0;
  -webkit-border-radius: 0px 30px 0 0;
  -moz-border-radius: 0px 30px 0 0;
  -ms-border-radius: 0px 30px 0 0;
  -o-border-radius: 0px 30px 0 0;
}

.btnadmp_th,
.btnadmp_th1,
.btnadmp_th2 {
  height: 60px;
  background: rgba(51, 65, 85, 0.5);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
  width: 500px;

}

.btnadmp_td1,
.btnadmp_td2 {
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
  margin: 0;

}

.btnadmp_td1 {
  background: #D9D9D9;

}

.butadmp1,
.butadmp2 {
  background-color: transparent;
  border: none;
}

.mad {
  width: 256px;
  top: 274px;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #334155;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodiruca {
  width: 256px;
  height: 43px;
  background: #334155;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* color: #FFFFFF; */

}

.cake1 {
  display: flex;
  justify-content: space-around;
}





.ModalsInps {
  width: 100%;
  background: #fff;
  display: none;
  padding: 20px;
  border-radius: 30px;
}

.haskd {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.asd {
  margin-top: 20px;
}

.asd input {
  width: 100%;
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 10px;
  height: 35px;
  font-size: 17px;
}

.btn-grupasdasdasdasd {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 50%;
  margin-top: 20px;
  padding-bottom: 30px;
}

.btn-grupasdasdasdasd button {
  width: 48%;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  background: #334155;
}

#iktali {
  width: 64%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#borDr {
  border-top-right-radius: 30px !important;
}

.SozdatNovs {
  width: 70%;
  padding-bottom: 30px;
  /* background: #fff; */
  display: none;
}

.SozdatNovs h2 {
  margin: 20px;
}

.Anket {
  width: 100%;
  padding-bottom: 30px;
  background: wheat;
  padding: 20px;
}

.Anket input {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
}

.Anket h4 {
  margin-top: 20px;
  color: black !important;
}

.Anket textarea {
  width: 100%;
  height: 300px;
  border: none;
  padding-left: 20px;
  border: 1px solid black;
  padding-top: 5px;
}

.Anket select {
  width: 80%;
  height: 40px;
  align-items: center;
  border-radius: 30px;
  padding-left: 20px;
}

.nodir5 .Dobav_Group {
  width: 100%;
  height: 100vh;
  display: none;
}

.nodir5 .Dobav_Group .sdfgdf {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.nodir5 .Dobav_Group .sdfgdf input {
  width: 40%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
}

.nodir5 .Dobav_Group .sdfgdf select {
  width: 40%;
  height: 35px;
  border-radius: 10px;
}



.Dobav_Group .grp_btn {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30%;
}

.Dobav_Group .grp_btn button {
  background: #334155;
  width: 92%;
  height: 30px;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}

.nodir5 .Dobav_Group2 {
  width: 100%;
  height: 100vh;
  display: none;
}

.nodir5 .Dobav_Group2 .sdfgdf2 {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}

.nodir5 .Dobav_Group2 .sdfgdf2 h4{
  color: black !important;
  margin-top: 5px;
}

.nodir5 .Dobav_Group2 .sdfgdf2 input {
  width: 40%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
}

.nodir5 .Dobav_Group2 .sdfgdf2 select {
  width: 40%;
  height: 35px;
  border-radius: 10px;
}



.Dobav_Group2 .grp_btn2 {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 30%;
}

.Dobav_Group2 .grp_btn2 button {
  background: #334155;
  width: 92%;
  height: 30px;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  margin-left: 10px;
}
.kkkk{
color: #334155;
}
.sdfgdf h4{
  font-size: 20px;
  color: #334155 !important;
}

.btn-group{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 40%;
}

.btn-group button{
  width: 40%;
  height: 40px;
  border-radius: 30px;
  background: #334155;
  color: white;
}