.bodyadmpn{
    width:100%;
    margin:0;
  }

  .nodir53{
   padding-top: 60px;
  }

  .bodyadmp_h2{
    margin-left: 5.5%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334155;
  }
  .bodyadmp_h2 b{
    font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
  color: #334155;
  }
  .btnadmp_box1{
  width: 90%;
  padding-top: 5%;
  margin: auto;
  overflow-y: auto;

  max-height: 1300px
  }
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
  }
  .btnchil_table{
    width: 100%;
    border-radius: 30px 30px 0px 0;
    -webkit-border-radius: 30px 30px 0px 0;
    -moz-border-radius: 30px 30px 0px 0;
    -ms-border-radius: 30px 30px 0px 0;
    -o-border-radius: 30px 30px 0px 0;
    overflow-y: scroll;
    overflow: scroll;
  }
  
  .btnadmp_tr  ,.btnadmp_tr1{
    text-align: center; 
   overflow-y: scroll;
  }
  
  .btnadmp_th1{
    border-radius: 30px 0 0 0 ;
    -webkit-border-radius: 30px 0 0 0 ;
    -moz-border-radius: 30px 0 0 0 ;
    -ms-border-radius: 30px 0 0 0 ;
    -o-border-radius: 30px 0 0 0 ;
  }
  .btnadmp_th2{
    border-radius: 0px 30px 0 0 ;
    -webkit-border-radius: 0px 30px 0 0 ;
    -moz-border-radius: 0px 30px 0 0 ;
    -ms-border-radius: 0px 30px 0 0 ;
    -o-border-radius: 0px 30px 0 0 ;
  }
  .btnadmp_th , .btnadmp_th1 , .btnadmp_th2{
    height: 60px;
    background: rgba(51, 65, 85, 0.5);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #334155;
    width: 500px;
   
  }
  .btnadmp_td1  , .btnadmp_td2 {
    height: 60px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #334155;
    margin: 0;
    
  }
  
  .btnadmp_td1{
    background: #D9D9D9;
    
  }
  
  .butadmp1 , .butadmp2{
   background-color: transparent;
   border: none;
  }
  .mad245{
    width: 256px;
  top: 274px;
  background: #FFFFFF;
  border-radius: 30px;
  outline: none;
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
  color: #334155;
  text-align: center;
  }
  .nodiruca345{
    width: 256px;
  height: 43px;
  background: #334155;
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  }
  .nodiruca345:hover {
    background-color: #0062eb;
  }
  .cake1245{
    display: flex;
    justify-content: space-around ;
  }
  .Byshrift{
    width: 30%;
    height: 40px;
    cursor: pointer;
  }